//! Variables ----
$shaddow-default: 0px 2px 10px rgb(0 0 0 / 20%);
$burnt-orange: #ab4e07;
$dark-pink: #b5026d;
$teal: #047478;
$off-white: #f2f2eb;

// ---- Navbar -----
.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
}

#navbar-collapse{
  justify-content: end;
  a{
    padding-left: 10px;
  }
}