//! Variables ----
$shaddow-default: 0px 4px 10px rgb(0 0 0 / 50%);
$burnt-orange: rgb(205, 79, 25);
$dark-pink: rgb(200, 10, 78);
$teal: #b9d4d5;
$off-white: #f2f2eb;
$font-main: 'Jura', sans-serif;
$text-shaddow: 0.3rem 0rem;

//! ---- Shared styles ------

@media (max-width: 780px){
  .site-wrapper{
    font-size: 10px;
  }
  .cards-wrapper{
    flex-direction: column;
  }
  .page-heading{
    font-size: 1.3rem !important;
    letter-spacing: 0.8rem !important;
    text-shadow: rgb(213 88 5 / 66%) 2px 0px !important;
  }
  .brand{
    font-family: $font-main;
    font-weight: 600;
    color: $burnt-orange !important;
    text-shadow: 0.3rem 0rem $dark-pink !important;
    letter-spacing: 0.2rem;
    padding: 0px !important;
    // height: 3rem !important;
    font-size: 2rem !important;
  }
  .homepage-welcome{
    flex-direction: column !important;
    align-items: center !important;
    margin-left: 0px !important;
    h1{
      font-size: 1.5rem !important;
      text-shadow: none !important;
    }
    h4{
      font-size: 1rem !important;
    }
  }
  .me-home{
    height: 12rem !important;
    margin-top: 10vh !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    box-shadow: -2rem -1rem $burnt-orange, 2rem 1rem $dark-pink !important;
  }
  .homePhoto{
    margin: 0 auto !important;
  }
}
@media (max-width: 780px){
  .site-wrapper{
    font-size: 11px;
  }
  .cards-wrapper{
    flex-direction: column;
  }
  .me-home{
    height: 15rem !important;
    margin-top: 12vh !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    box-shadow: -2rem -1rem $burnt-orange, 2rem 1rem $dark-pink !important;
  }
  .homepage-welcome{
    flex-direction: column !important;
    align-items: center !important;
    h1{
      font-size: 1.5rem !important;
      text-shadow: none !important;
    }
    h4{
      font-size: 1rem !important;
    }
  }
}

.site-wrapper{
  background-color: $off-white;
  min-height: 100vh;
  height: 100%;
  letter-spacing: 0.1rem;
  font-family: $font-main;
}
.card{
  width: 4rem;
  height: 4rem;
  margin: 30px 20px 0 20px;
//   border-radius: 50%;
}
.card-title{
  text-align: center;
  font-size: calc(15px + 0.390625vw)
}
.link{
  text-decoration: none !important;
  font-weight: 600;
  color: $burnt-orange;
}
.page-heading, .cards-wrapper, .card-body, .homepage-welcome,
.homePhoto, .button-container, .about-container, .top-row, 
.bottom-row, .navbar-container, .project-cards, .proj-card, 
.skills-wrapper{
  display: flex;
}
.page-wrapper{
  height: 90vh;
}
.page-heading{
  justify-content: center;
  margin: 50px 0 15px 0;
  font-family: $font-main;
  font-weight: 500;
  // text-shadow: $text-shaddow rgb(200, 10, 78);
  letter-spacing: 0.8rem;
  text-shadow: rgba(213, 88, 5, 0.657) 3px 0px;
}
.hide{
  display: none !important;
}

//! ----- Navbar ---------------------------
.navbar-container{
  height: 7vh;
}
@media (min-width: 600px){
  .brand{
    font-family: $font-main;
    font-weight: 600;
    color: $burnt-orange !important;
    text-shadow: 0.3rem 0rem $dark-pink !important;
    letter-spacing: 0.2rem;
    font-size: 3rem !important;
    padding: 0px !important;
  }
}
// .brand{
//   font-family: $font-main;
//   font-weight: 600;
//   color: $burnt-orange !important;
//   text-shadow: 0.3rem 0rem $dark-pink;
//   letter-spacing: 0.2rem;
//   font-size: 3rem;
//   padding: 0px !important;
// }

//! ---- Home Page -----------------------------------------------
.homepage-welcome{
  margin: 12% 0 0 12%;
  font-family: $font-main;
  align-items: center;
  h1{
    font-weight: 600;
    color: $burnt-orange;
    letter-spacing: 1rem;
    text-shadow: $text-shaddow $dark-pink;
    font-size: 3rem;
  }
  h1:hover{
    transform: scale(1.02);
  }
  h4{
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }
  .me-home{
    height: 25rem;
    border-radius: 50%;
    box-shadow: -5rem -3rem $burnt-orange, 5rem 3rem $dark-pink;
  }
}
.homePhoto{
  display: flex;
  justify-content: center;
  margin-right: 10%;
}

//! ---- Navbar -----------------------------------------------
.navbar-container{
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px;
}
.navbar{
  box-shadow: $shaddow-default;
  padding: 0 !important;
}

#navbar-collapse{
  justify-content: end;
  a{
    padding-left: 20px;
  }
}
.brand:hover, .navbarLink:hover {
  transform: scale(1.1);
}
//! ----- Projects Page ------------------------------------

@media (max-width: 780px){
  .project-cards{
    flex-wrap: nowrap !important;
    justify-content: center;
    flex-direction: column !important;
    align-items: center;
  }
  .proj-card{
    flex-direction: column !important;
    margin-bottom: 5px !important;
    flex-basis: fit-content;
    margin-top: 0px !important;
    width: 80vw !important;
  }
  .card-vid{
    width: 100%;
    border-radius: 5px;
  }
  
}
@media (min-width:780px){
  .project-cards{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .proj-card{
    flex-direction: row !important;
    width: 50vw;
    height: 30vh !important;
    border-radius: 15px !important;
    .col{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .card-title{
      margin-top: 1vh;
      font-weight: 600;
      font-size: 1rem;
    }
    .card-vid{
      width: 100%;
    }
  }
}
.button-container{
  justify-content: center;
  margin-bottom: 3vh;
}
.btn-project{
  border: none;
  background: none;
  margin: 5px;
  .link-img{
    height: 5vh;
    box-shadow: $shaddow-default;
    border-radius: 50%;
  }
}
.btn-project:hover{
  transform: scale(1.1);
}



//! ---- Contact page ----------------------------------------
  //! --- display flex ---
@media only screen and (max-width: 780px){
  .cards-wrapper{
    flex-direction: column !important;
    align-items: center !important;
  }
  .card{
    height: 15rem !important;
    width: 15rem !important;
  }
  .card-title{
    font-size: 1rem !important;
  }
  .round-img{
    height: 2rem !important;
  }
}
  

.cards-wrapper{
  flex-direction: row;
  justify-content: center;
  .card{
    width: 20rem;
    height: 20rem;
    margin: 2rem 2rem 0 2rem;
    border-radius: 50%;
    .card-body{
      .card-title{
        font-size: 1.5rem;
        font-family: $font-main;
        font-weight: 400;
        letter-spacing: 0.2rem;
      }
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      font-family: $font-main;
      font-weight: 300;
      .btn-contact{
        border: none;
        background: none;
        .round-img{
          height: 3rem;
        }
        .round-img:hover{
          box-shadow: $shaddow-default;
          border-radius: 50%;
          transform: scale(1.1);
        }
      }
    }
  }
}
// --- Card hover ---

// ----- Contact card Id's ------
#email-card{
  box-shadow: 0.9rem 0.9rem rgb(200 10 78);
}
#LinkedIn-card, #GitHub-card{
  box-shadow: 0.9rem 0.9rem $burnt-orange;
}

// ---- skills ----
@media(max-width:780px){
  .skill-img{
    height: 3rem !important;
  }
}
  
.skills-wrapper{
  width: 60vw;
  height: 60vh;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  .skill-card{
    margin: 2%;
  }
  .skill-card:hover + .hide{
    transform: scale(1.03);
    display: block !important;
  }
}

.skill-img{
  height: 5rem;
}

//---- about page ----
.about-container{
  width: 75vw;
  flex-direction: row;
  margin: 0 auto;
  .interest-container{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: 70vh;
    .top-row, .bottom-row{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-end;
    }
    .bottom-row{
      align-items: flex-start !important;
    }
    .interest-div{
      padding: 2px;
      max-width: fit-content;
    }
  }
  .interest-img{
    max-height: 200px;
    justify-content: center;
    box-shadow: 0.2rem 0.2rem $burnt-orange, -0.2rem -0.2rem $dark-pink;
    border-radius: 50%;
  }
  .interest-img:hover{
    transform: scale(1.5);
    transition: 0.5s;
  }
  #gav{
    height: 25vh;
  }
  #silver{
    height: 18vh;
  }
  #bella{
    height: 15vh
  }
  #metalcraft{
    height: 15vh;
  }
  }
