.site-wrapper {
  background-color: #f2f2eb;
  min-height: 100vh;
  height: 100%;
  letter-spacing: 0.1rem;
}

.card {
  width: 300px;
  height: 300px;
  margin: 30px 20px 0 20px;
  border-radius: 50%;
}

.link {
  text-decoration: none !important;
  font-weight: 600;
  color: rgb(205, 79, 25);
}

.page-heading, .cards-wrapper, .card-body, .homepage-welcome, .homePhoto {
  display: flex;
}

.page-wrapper {
  height: 90vh;
}

.page-heading {
  justify-content: center;
  margin: 50px 0 30px 0;
  font-family: "Jura", sans-serif;
  font-weight: 500;
  letter-spacing: 0.8rem;
  text-shadow: rgba(213, 88, 5, 0.657) 3px 0px;
}

.brand {
  font-family: "Jura", sans-serif;
  font-weight: 600;
  color: rgb(205, 79, 25) !important;
  text-shadow: 0.3rem 0rem rgb(200, 10, 78);
  letter-spacing: 0.2rem;
  font-size: 3rem !important;
  padding: 0px !important;
}

.homepage-welcome {
  margin: 12% 0 0 12%;
  font-family: "Jura", sans-serif;
  align-items: center;
}
.homepage-welcome h1 {
  font-weight: 600;
  color: rgb(205, 79, 25);
  letter-spacing: 1rem;
  text-shadow: 0.3rem 0rem rgb(200, 10, 78);
  font-size: 3rem;
}
.homepage-welcome h1:hover {
  transform: scale(1.02);
}
.homepage-welcome h4 {
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}
.homepage-welcome .me-home {
  height: 25rem;
  border-radius: 50%;
  box-shadow: -5rem -3rem rgb(205, 79, 25), 5rem 3rem rgb(200, 10, 78);
}

.homePhoto {
  display: flex;
  justify-content: center;
  margin-right: 10%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 0 !important;
}

#navbar-collapse {
  justify-content: end;
}
#navbar-collapse a {
  padding-left: 20px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.proj-card {
  display: flex;
  flex-direction: row;
}

.cards-wrapper {
  flex-direction: row;
  justify-content: center;
}
.cards-wrapper .card {
  width: 300px;
  height: 300px;
  margin: 30px 20px 0 20px;
  border-radius: 50%;
}
.cards-wrapper .card .card-body {
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-family: "Jura", sans-serif;
  font-weight: 300;
}
.cards-wrapper .card .card-body .card-title {
  font-size: 1.5rem;
  font-family: "Jura", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.cards-wrapper .card .card-body .btn-contact {
  border: none;
  background: none;
}
.cards-wrapper .card .card-body .btn-contact .round-img {
  height: 3rem;
}
.cards-wrapper .card .card-body .btn-contact .round-img:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.card:hover {
  transform: scale(1.1);
}

#email-card {
  box-shadow: 0.9rem 0.9rem rgb(200, 10, 78);
}

#LinkedIn-card, #GitHub-card {
  box-shadow: 0.9rem 0.9rem rgb(205, 79, 25);
}

.skills-wrapper {
  width: 60vw;
  height: 60vh;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}
.skills-wrapper .skill-card {
  margin: 2%;
}
.skills-wrapper .skill-card:hover {
  transform: scale(1.03);
}

.skill-img {
  height: 5rem;
}/*# sourceMappingURL=main.css.map */