//! Variables ----
$shaddow-default: 0px 4px 10px rgb(0 0 0 / 30%);
$burnt-orange: #ab4e07;
$dark-pink: #b5026d;
$teal: #047478;
$off-white: #f2f2eb;

// ---- Navbar -----
.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
}
.navbar{
  box-shadow: $shaddow-default;
}

#navbar-collapse{
  justify-content: end;
  a{
    padding-left: 10px;
  }
}

// ---- Contact page ----
.btn-contact{
  border: none;
  border-radius: 100%;
  background: none;
  .round-img{
    height: 3rem;
  }
}

.page-heading{
  justify-content: center;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cards-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  .card{
    width: 30vw;
    margin: 5px;
    .card-body{
      display: flex;
      flex-direction: column;
    }
  }
}